Flask_WTF
Werkzeug
boto3
Flask_Cors
Flask_SQLAlchemy
Flask_Login
gunicorn
WTForms
Flask_Bcrypt
pypugjs
stripe
pretty_errors
PyQRCode
Flask_Script
psycopg2
Flask
Flask_Migrate
libsass
pypng
python-dotenv
