if not total_price > 0
    h1 WOW, SUCH EMPTY
else
    h1 YOUR ORDER
    table(style='width:auto', border='1')
        each product in products
            tr
                th
                    h4 {{ product[2] }}x {{ product[0] }} - {{ product[1] }}

    h2 APROX PREP TIME = {{preparation_time}} minutes

    form(action="{{ url_for('order') }}" method="post")
        {{ order_form.csrf_token }}
        {{ order_form.notes}}
        span Amount is MDL {{ total_price / 100 + total_price % 100 }}

        script(src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-label="Plateste Online" data-key="{{ stripe_key }}" data-description="A Flask Charge" data-amount="{{ stripe_price }}" data-locale="auto" data-currency="mdl")
