h1 PUBLIC DISH VIEW

h1 {{ dish.title }}
h2 {{ dish.price }} lei
h3 {{ dish.preparation_time }} minutes
h4 {{ dish.description }}

a(href="{{ url_for('def_home') }}add_to_cart/{{ dish.title }}") ADD TO CART
