!!! 5

html(lang="en")
    include includes/general/head.pug

    body
        div(class="dish placeholder image")
            div(class="d back")
                img(class="filter text" src="{{ url_for( 'static', filename='img/icons/left-arrow.png' ) }}")

        include includes/general/header.pug

        div(class="content")
            {{table}}

        div(class="categories")
            each category in categories
                div(class="category")
                    div(class="viewable")
                        div(class="details")
                            img(class="thumbnail" src="{{ category.thumbnail }}")
                            img(class="filter text back" src="{{ url_for( 'static', filename='img/icons/left-arrow.png' ) }}")
                            h4 {{ category.name }}
                        div(class="dishes")
                            each dish in category.dishes 
                                div(class="dish item")
                                    img(src="{{ dish.thumbnail }}")
                                    div(class="data")
                                        div
                                            h4 {{ dish.title }}
                                            p {{ dish.price }}0 LEI
                                        img(class="add filter text" dish="{{ dish.title }}" price="{{ dish.price }}" img="{{ dish.thumbnail }}" src="{{ url_for( 'static', filename='img/icons/plus.png' ) }}")
                                    div(class="expanded")
                                        p {{ dish.description }}
                                        h5 {{ dish.preparation_time }} minutes
                                        h4 {{ dish.ingredients }}

        div(class="category placeholder")
        div(class="dish placeholder data")
        div(class="cart")
            div(class="hide")
                img(class="filter text" src="{{ url_for( 'static', filename='img/icons/left-arrow.png' ) }}")
                h5 Order Overview
            div(class="full")
            div(class="overall")
                h5(class="count")
                h5(class="total")

    script(src="{{ url_for( 'static', filename='js/init.js' ) }}")
