!!! 5

html(lang="en")
    include includes/general/head.pug

    body
        include includes/general/header.pug

        div(class="content")
            {{table}}

        div(class="categories")
            each category in categories
                div(class="category")
                    div(class="viewable")
                        div(class="details")
                            img(class="thumbnail" src="{{ category.thumbnail }}")
                            img(class="back filter" src="{{ url_for( 'static', filename='img/icons/left-arrow.png' ) }}")
                            h2 {{ category.name }}
                        div(class="dishes")
                            each dish in category.dishes 
                                div(class="dish")
                                    img(src="{{ dish.thumbnail }}")
                                    div(class="data")
                                        div
                                            h3 {{ dish.title }}
                                            p {{ dish.price }}0 LEI
                                        img(class="add filter" src="{{ url_for( 'static', filename='img/icons/add.png' ) }}")

        div(class="category placeholder")

    script(src="{{ url_for( 'static', filename='js/init.js' ) }}")
