!!! 5

html(lang="en")
    include includes/general/head.pug

    body
        div(class="dish placeholder image")
            div(class="d back")
                img(class="text_filter" src="{{ url_for( 'static', filename='img/icons/left-arrow.png' ) }}")

        include includes/general/header.pug

        div(class="content")
            {{table}}

        div(class="categories")
            each category in categories
                div(class="category")
                    div(class="viewable")
                        div(class="details")
                            img(class="thumbnail" src="{{ category.thumbnail }}")
                            img(class="c back text_filter" src="{{ url_for( 'static', filename='img/icons/left-arrow.png' ) }}")
                            h2 {{ category.name }}
                        div(class="dishes")
                            each dish in category.dishes 
                                div(class="dish item")
                                    img(src="{{ dish.thumbnail }}")
                                    div(class="data")
                                        div
                                            h4 {{ dish.title }}
                                            p {{ dish.price }}0 LEI
                                        img(class="add text_filter" src="{{ url_for( 'static', filename='img/icons/add.png' ) }}")
                                    div(class="expanded")
                                        h5 {{ dish.description }}
                                        p {{ dish.preparaion_time }} minute
                                        h4 {{ dish.ingredients }}

        div(class="category placeholder")
        div(class="dish placeholder data")

    script(src="{{ url_for( 'static', filename='js/init.js' ) }}")
