!!! 5

html(lang="en")
    include dashboard/head.pug

    body
        div
            include dashboard/header.pug

            div(class="content")
                block content

            include dashboard/footer.pug
