<!DOCTYPE html>

html(lang="en")
    include dashboard/head.pug

    body
        include dashboard/header.pug

        div(class="content")
            block content

        include dashboard/footer.pug
