!!! 5

html(lang="en")
    include includes/dashboard/head.pug

    body
        div
            include includes/dashboard/header.pug

            div(class="content")
                include includes/errors.html
                block content

            include includes/dashboard/footer.pug
