extends dashboard/layout.pug

block content
    h1 Create new category
    form(method="POST" action="{{ url_for('add_category') }}" enctype="multipart/form-data")
        {{ create_category.csrf_token }}
        {{ create_category.name(placeholder="Category name") }}
        {{ create_category.thumbnail}}
        {{ create_category.add }}

    h1 Add new dish
    form(method="POST" action="{{ url_for('add_dish') }}" enctype="multipart/form-data")
        {{ dish_form.csrf_token }}
        {{ dish_form.categories }}
        {{ dish_form.title(placeholder="Dish title") }}
        {{ dish_form.thumbnail}}
        {{ dish_form.description(placeholder="Description") }}
        {{ dish_form.ingredients(style="visibility: hidden;") }}
        {{ dish_form.price(placeholder="Price") }}
        {{ dish_form.preparation_time(placeholder="Preparation Time") }}

        ul(id="ingredients-list" value="") Ingredients
        input(type="text" id="name-ingredient-input" name="name-ingredient-input" list="existing-ing")
        datalist(id="existing-ing")
            each ingredient in ingredients
                option(id="{{ingredient[0]}}") {{ingredient[1]}}

        input(type="text" id="qty-ingredient-input" name="qty-ingredient-input")
        select(id="qty-type" name="qty-type" required="")
            option(value="gr" selected="selected") grams
            option(value="ml") milliliter

        img(id="add-ingredient" src="{{ url_for( 'static', filename='img/icons/add.png' ) }}")
        {{ dish_form.add }}

    h1 Existing categories
    table(style='width:100%', border='1')
        tr
            th Categories
            th Items

        each category, index in categories
            tr
                td {{ category.name }}
                    img(src="{{ url_for( 'def_home') }}{{ category.thumbnail }}")
                    a(href="category_remove/{{ category.id }}") REMOVE

                td
                    table(style='width:100%', border='1')
                        each dish in dishes[index]
                            tr
                                h2
                                    img(src="{{ url_for( 'def_home') }}{{ dish.thumbnail }}")
                                h2 {{ dish.title }}
                                h2 {{ dish.price }} lei
                                h2 {{ dish.preparation_time }} minutes
                                h2 {{ dish.description }}
                                h2
                                    a(href="dish_remove/{{ dish.id }}") REMOVE

    script(src="{{ url_for( 'static', filename='js/menu.js' ) }}")
