extends dashboard/layout.pug

block content
    div
        h3(class="form_title") Create new category
        form(method="POST" action="{{ url_for('add_category') }}" enctype="multipart/form-data")
            {{ create_category.csrf_token }}
            {{ create_category.name(placeholder="Category name") }}
            {{ create_category.thumbnail}}
            {{ create_category.add(class="button") }}

    div
        h3(class="form_title") Add new dish
        form(method="POST" action="{{ url_for('add_dish') }}" enctype="multipart/form-data")
            {{ dish_form.csrf_token }}
            {{ dish_form.categories }}
            {{ dish_form.title(placeholder="Dish title") }}
            {{ dish_form.thumbnail}}
            {{ dish_form.description(placeholder="Description") }}
            {{ dish_form.ingredients }}
            {{ dish_form.price(placeholder="Price") }}
            {{ dish_form.preparation_time(placeholder="Preparation Time") }}

            ul(id="ingredients-list" value="") Ingredients
            input(type="text" id="name-ingredient-input" name="name-ingredient-input" placeholder="Ingredient" list="existing-ing")
            datalist(id="existing-ing")
                each ingredient in indexed_ingredients
                    option(id="{{ingredient[0]}}") {{ingredient[1]}}

            input(type="text" id="qty-ingredient-input" name="qty-ingredient-input" placeholder="Quantity")
            select(id="qty-type" name="qty-type" required="")
                option(value="gr" selected="selected") grams
                option(value="ml") milliliter

            img(id="add-ingredient" src="{{ url_for( 'static', filename='img/icons/add.png' ) }}")
            {{ dish_form.add(class="button") }}

    each category, ci in categories
        div(class="menu")
            div(class="category")
                img(class="thumbnail" src="{{ url_for( 'def_home') }}{{ category.thumbnail }}")
                div(class="info")
                    h3 {{ category.name }}
                    a(href="category_remove/{{ category.id }}") REMOVE

            each dish, di in category.dishes
                div(class="card")
                    div
                        img(class="thumbnail" src="{{ url_for( 'def_home') }}{{ dish.thumbnail }}")
                        div(class="details separator bottom")
                            h3 {{ dish.title }}
                            p {{ dish.description }}
                    div(class="lineflex price")
                        div(class="imgdesc separator right")
                            img(src="{{ url_for( 'static', filename='img/icons/price-tag.png' ) }}")
                            h4 {{ dish.price }} MDL
                        div(class="imgdesc")
                            img(src="{{ url_for( 'static', filename='img/icons/cooking-time.png' ) }}")
                            h4 {{ dish.preparation_time }} MIN

                    unless not ingredients[ci][di][0][0]
                        table(class="min separator top")
                            caption
                                img(src="{{ url_for( 'static', filename='img/icons/honey.png' ) }}")
                                | Ingredients
                            tr
                                th(class="separator right") Ingredient
                                th(class="separator right") Quantity
                                th Unit

                            each ingredient in ingredients[ci][di]
                                tr
                                    td(class="separator right") {{ingredient[0]}}
                                    if ingredient[1]
                                        td(class="separator right") {{ingredient[1]}}
                                        td {{ingredient[2]}}
                                    else
                                        td -
                                        td -

                    div(class="lineflex")
                        a(href="dish_remove/{{ dish.id }}") REMOVE

    script(src="{{ url_for( 'static', filename='js/menu.js' ) }}")
