extends dashboard/layout.pug

block content
    h1 Add a table
    form(method="POST" action="{{ url_for('add_table') }}")
        {{ table_form.number(placeholder="Table Number (ID)") }}
        {{ table_form.seats(placeholder="Number of seats (optional)") }}
        {{ table_form.description(placeholder="Description (optional)") }}
        {{ table_form.add }}

    table
        caption Tables
        tr
            //th URL
            th Table Number
            th Seats
            th Description
            th IMG

        each table in tables
            tr(class="topbord")
                //td
                //    a(href="{{ table.url }}") URL
                td {{ table.number }}
                td {{ table.seats }}
                td {{ table.description }}
                td
                    a(href="qrview/{{ table.number }}")
                        img(class="qr" src="{{ table.imgurl }}")
                td 
                    a(href="qrdownload/{{ table.number }}") DOWNLOAD
                td 
                    a(href="table_remove/{{ table.number }}") REMOVE
