extends dashboard/dashboard.pug

block content
    h1 Add a table
    form(method="POST" action="{{ url_for('add_table') }}")
        {{ table_form.number(placeholder="Table Number (ID)") }}
        {{ table_form.seats(placeholder="Number of seats (optional)") }}
        {{ table_form.description(placeholder="Description (optional)") }}
        {{ table_form.add }}

    each table in tables
        a(href="{{ table.url }}")
            h2 Table {{ table.number }}, {{ table.seats }} seats
            p {{ table.description }}
        img(src="{{ table.imgurl }}" style="max-height: 4em;")
        a(href="qrview/{{ table.number }}") VIEW
        a(href="qrdownload/{{ table.number }}") DOWNLOAD
        a(href="table_remove/{{ table.number }}") REMOVE
