extends dashboard/layout.pug

block content
    div
        h3(class="form_title") Add a table
        form(method="POST" action="{{ url_for('add_table') }}")
            {{ table_form.number(placeholder="Table Number (ID)") }}
            {{ table_form.seats(placeholder="Number of seats (optional)") }}
            {{ table_form.description(placeholder="Description (optional)") }}
            {{ table_form.add(class="button") }}

    div
        h3 Active Tables

        div(class="dropdown")
            div(class="dropdown-content")
                div(class="table action" href="qredit/" meth="post")
                    img( src="{{ url_for( 'static', filename='img/icons/edit.png' ) }}")
                    | Edit
                div(class="table action" href="qrtoggle/" meth="post")
                    img( src="{{ url_for( 'static', filename='img/icons/toggle.png' ) }}")
                    | Toggle
                div(class="table action" href="qrdownload/")
                    img(src="{{ url_for( 'static', filename='img/icons/download.png' ) }}")
                    | Download
                div(class="table action negative" href="table_remove/" meth="post")
                    img(src="{{ url_for( 'static', filename='img/icons/trash.png' ) }}")
                    | Remove

            button(class="dropbtn") Actions
                img(src="{{ url_for( 'static', filename='img/icons/down-arrow.png' ) }}")

        table(class="active")
            tr
                //th URL
                th Table Number
                th Seats
                th Description
                th QR Code

            each table in tables["active_tables"]
                tr(value="{{table.number}}" class="table separator top")
                    td {{ table.number }}
                    td
                        if table.seats
                            {{ table.seats }}
                        else
                            | N/A
                    td {{ table.description }}
                    td
                        a(href="qrview/{{ table.number }}" target="_blank")
                            img(class="qr" src="{{ table.imgurl }}")

    div
        h3 Disabled Tables

        div(class="dropdown")
            div(class="dropdown-content")
                div(class="table action" href="qredit/" meth="post")
                    img( src="{{ url_for( 'static', filename='img/icons/edit.png' ) }}")
                    | Edit
                div(class="table action" href="qrtoggle/" meth="post")
                    img( src="{{ url_for( 'static', filename='img/icons/toggle.png' ) }}")
                    | Toggle
                div(class="table action" href="qrdownload/")
                    img(src="{{ url_for( 'static', filename='img/icons/download.png' ) }}")
                    | Download
                div(class="table action negative" href="table_remove/" meth="post")
                    img(src="{{ url_for( 'static', filename='img/icons/trash.png' ) }}")
                    | Remove

            button(class="dropbtn") Actions
                img(src="{{ url_for( 'static', filename='img/icons/down-arrow.png' ) }}")

        table(class="disabled")
            tr
                //th URL
                th Table Number
                th Seats
                th Description
                th QR Code

            each table in tables["disabled_tables"]
                tr(value="{{table.number}}" class="table separator top")
                    td {{ table.number }}
                    td
                        if table.seats
                            {{ table.seats }}
                        else
                            | N/A

                    td {{ table.description }}
                    td
                        a(href="qrview/{{ table.number }}" target="_blank")
                            img(class="qr" src="{{ table.imgurl }}")

    script(src="{{ url_for( 'static', filename='js/tables.js' ) }}")
