header 
    img(class="logo" src="{{ url_for( 'static', filename='img/logo2.png' ) }}")

    h1 Kafka

    a(class="cart" href="{{ url_for('cart') }}")
        img(src="{{ url_for( 'static', filename='img/icons/bag.png' ) }}")

