$header: #FFFFFF;
$content: #F5F6F8;
$main_accent: #109CF1;
$nav_text: #334D6E;
$secondary_text: #90A0B7;
$separator: #EBEFF2;

$def_trans: all .3s ease;

:root {
    font-family: 'Montserrat';
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    margin: 0;

    h1 {
        font-size: 52px;
        font-weight: 300;
        line-height: 64px;
        letter-spacing: .2px;
    }

    h2 {
        font-size: 14px;
        font-weight: 500;
        line-height: 52px;
        letter-spacing: 0px;
    }

    h3 {
        font-size: 52px;
        font-weight: 600;
        line-height: 40px;
        letter-spacing: .1px;
    }

    p {
        margin: 0px;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: .1px;

        &.sub {
            font-size: 12px;
            font-weight: 600;
            line-height: 16px;
            letter-spacing: .2px;
            color: $secondary_text;
        }
    }

    a {
        font-size: 18px;
        font-weight: 600;
        line-height: 22px;
        letter-spacing: .2px;
    }

    .separator {
        &.top {
            border-top: .1em solid $separator;
        }

        &.bottom {
            border-bottom: .1em solid $separator;
        }
    }

    header {
        height: 100%;
        width: 18%;
        background-color: $header;
        color: $nav_text;

        .title {
            width: fit-content;
            padding-left: 2em;
        }

        .user {
            display: flex;
            flex-direction: row;
            padding: 1em 0 1em 2em;
            margin-left: auto;
            margin-right: auto;

            img {
                margin-right: 1em;
                height: 48px;
                width: 48px;
                border-radius: 100%;
            }

            .details {
                margin-top: auto;
                margin-bottom: auto;
                color: $nav_text;
            }
        }

        nav {
            padding: 1em 0 1em 0;

            a {
                display: flex;
                flex-direction: row;
                padding: 1em 0 1em 2em;
                text-decoration: none;
                color: $nav_text;
                transition: $def_trans;

                &:hover {
                    transform: scale(1.05);
                }

                &.selected {
                    color: $main_accent;

                    img {
                        filter: invert(51%) sepia(39%) saturate(4517%) hue-rotate(176deg) brightness(99%) contrast(91%);
                    }
                }

                img {
                    margin-right: 1em;
                    height: 22px;
                    filter: invert(91%) sepia(4%) saturate(1397%) hue-rotate(184deg) brightness(92%) contrast(91%);
                }
            }
        }
    }

    .content {
        height: 100%;
        width: 82%;
        background-color: $content;
    }
}