$header: #FFFFFF;
$content: #F5F6F8;
$main_accent: #109CF1;
$nav_text: #334D6E;
$main_text: #323C47;
$secondary_text: #90A0B7;
$separator: #EBEFF2;
$negative: #FB4E4E;

$def_trans: all .3s ease;

:root {
    font-family: 'Montserrat';
}

::-webkit-scrollbar {
    display: none;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    margin: 0;

    h1 {
        margin: 0px;
        font-size: 48px;
        font-weight: 300;
        line-height: 60px;
        letter-spacing: .2px;
    }

    h2 {
        margin: 0px;
        font-size: 40px;
        font-weight: 500;
        line-height: 50px;
        letter-spacing: 0px;
    }

    h3 {
        margin: 0px;
        font-size: 28px;
        font-weight: 600;
        line-height: 36px;
        letter-spacing: .1px;
    }

    p {
        margin: 0px;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: .1px;
    }

    a {
        color: $nav_text;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: .2px;
        text-decoration: none;
        transition: $def_trans;

        img {
            height: 2em;
        }

        &:hover {
            color: $main_accent;
            transform: scale(1.05);
        }

        &.action:hover {
            transition: $def_trans;
            transform: scale(1.2);
            filter: invert(51%) sepia(39%) saturate(4517%) hue-rotate(176deg) brightness(99%) contrast(91%);
        }
    }

    th {
        font-size: 12px;
        font-weight: 600;
        line-height: 16px;
        letter-spacing: .2px;
        color: $secondary_text;
        text-align: start;
    }

    td {
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: .2px;
        color: $main_text;
    }

    .sub {
        font-size: 12px;
        font-weight: 600;
        line-height: 16px;
        letter-spacing: .2px;
        color: $secondary_text;
    }

    .group {
        width: fit-content;
        padding: .5em 0 .5em 0;

        * {
            padding: 0 .25em 0 .25em;
        }

        &.right {
            float: right;
        }
    }

    .separator {
        &.top {
            border-top: .1em solid $separator;
        }

        &.bottom {
            border-bottom: .1em solid $separator;
        }
    }

    .negative {
        filter: invert(63%) sepia(61%) saturate(7116%) hue-rotate(334deg) brightness(103%) contrast(97%);
    }

    header {
        height: 100%;
        width: 18%;
        background-color: $header;
        color: $nav_text;
        box-shadow: 6px 0px 18px rgba(0, 0, 0, 0.06);

        .title {
            margin: 1em;
            width: fit-content;
            padding-left: 1em;
        }

        .user {
            display: flex;
            flex-direction: row;
            padding: 1em 0 1em 2em;
            margin-left: auto;
            margin-right: auto;

            img {
                margin-right: 1em;
                height: 48px;
                width: 48px;
                border-radius: 100%;
            }

            .details {
                margin-top: auto;
                margin-bottom: auto;
                color: $nav_text;
            }
        }

        nav {
            padding: 1em 0 1em 0;

            a {
                display: flex;
                flex-direction: row;
                padding: 1em 0 1em 2em;
                text-decoration: none;
                color: $nav_text;
                transition: $def_trans;

                &:hover {
                    transform: scale(1.05);
                }

                &.selected {
                    color: $main_accent;

                    img {
                        filter: invert(51%) sepia(39%) saturate(4517%) hue-rotate(176deg) brightness(99%) contrast(91%);
                    }
                }

                img {
                    margin-right: 1em;
                    height: 22px;
                    filter: invert(91%) sepia(4%) saturate(1397%) hue-rotate(184deg) brightness(92%) contrast(91%);
                }
            }
        }
    }

    .content {
        overflow: hidden;
        overflow-y: scroll;
        margin: 0 .5em 0 .5em;
        display: flex;
        flex-wrap: wrap;

        height: 100%;
        width: 82%;
        background-color: $content;

        >* {
            //flex: 0 0 calc(50% - 3em);
            flex: auto;
            margin: 1em .5em 1em .5em;
            padding: 1em;
            border-radius: .2em;
            background-color: $header;
            box-shadow: .2em .2em .1em rgba(0, 0, 0, 0.12);
        }

        .button {
            cursor: pointer;
            padding: 0%;
            height: 42px;
            width: 160px;
            color: $separator;
            background-color: $main_accent;
            border-radius: .2em;
            box-shadow: .2em .2em .1em rgba(16, 156, 241, 0.24);

            font-size: 16px;
            font-weight: 600;
            line-height: 20px;
            letter-spacing: .2px;
            text-align: center;  
        }

        form {
            display: flex;
            flex-direction: column;

            input {
                padding-top: 1em;
                margin-bottom: 1em;
                width: 300px;
                border: none;
                border-bottom: .1em solid $separator;
                transition: $def_trans;

                &:hover {
                    transform: scale(1.05);
                    border-bottom: .1em solid $secondary_text;
                }

                &:focus {
                    outline: none;
                    transform: scale(1.05);
                    border-bottom: .1em solid $main_accent;
                }
            }
        }

        table {
            border-collapse: collapse;

            tr {
                height: 48px;
                transition: $def_trans;

                &.selected, &.table:hover {
                    transform: scale(1.05);
                    background-color: $content;
                    box-shadow: .2em .2em .1em rgba(0, 0, 0, 0.12);
                }

                &>* {
                    padding: 0 1em 0 1em;
                }

                img {
                    height: 2em;
                    width: 2em;
                }

                th {
                    text-align: start;
                }

                td {
                    color: $main_text;
                }
            }
        }
    }
}