$black: #131112;
$olive: #283618;
$beige: #DDA15E;
$white: #F0ECE2;

$f_black: invert(4%) sepia(5%) saturate(1021%) hue-rotate(278deg) brightness(94%) contrast(94%);
$f_olive: invert(12%) sepia(8%) saturate(5416%) hue-rotate(48deg) brightness(93%) contrast(81%);
$f_beige: invert(70%) sepia(36%) saturate(591%) hue-rotate(349deg) brightness(92%) contrast(88%);

$def_trans: all .3s ease;

$phone: 640px;
$desktop: 1024px;

:root {
    font-family: 'Montserrat';
}

::-webkit-scrollbar {
    display: none;
}

h1 {
    margin: 0px;
    font-size: 2.8em;
    font-weight: 300;
    letter-spacing: .2em;
}

h2 {
    margin: 0px;
    font-size: 2.4em;
    font-weight: 500;
    letter-spacing: 0em;
}

h3 {
    margin: 0px;
    font-size: 2em;
    font-weight: 600;
    letter-spacing: .1em;
}

h4 {
    margin: 0px;
    font-size: 1.8em;
    font-weight: 500;
    letter-spacing: .1em;
}

h5, li {
    margin: 0px;
    font-size: 1.4em;
    font-weight: 600;
    letter-spacing: .1em;
}

p {
    margin: 0px;
    font-size: 1em;
    font-weight: 500;
    letter-spacing: .1em;
}

a {
    cursor: pointer;

    transition: $def_trans;
    text-decoration: none;
    color: $olive;

    &:hover {
        color: $beige;
        transform: scale(1.05);
    }

    & img {
        padding-right: 2em;
        height: 3em;
    }
}

@media (max-width: $phone) {
    body {
        height: 100vh;
        height: calc(var(--vh, 1vh) * 100);
        width: 100vw;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        overflow-y: scroll;
        margin: 0px;

        background-color: $white;

        >* {
            margin: 0 1em 0 1em;
        }

        header {
            display: flex;
            flex-direction: row;
            margin: 0px;
            padding: 1em;

            color: $beige;
            border-bottom-left-radius: 2em;
            border-bottom-right-radius: 2em;

            >* {
                margin-top: auto;
                margin-bottom: auto;
            }

            img {
                height: 3em;
                filter: $f_beige;
            }

            .logo {
                margin-right: 2em;
            }

            .cart {
                margin-right: 0%;
                margin-left: auto;
            }
        }

        .content {

        }

        .etype {
            color: $beige;
            background-color: $olive;

            .text_background {
                background-color: $beige;
            }

            .filter {
                &.text {
                    filter: $f_beige;
                }
                &.background {
                    filter: $f_olive;
                }
            }
        }

        .utype {
            color: $olive;
            background-color: $beige;

            .text_background {
                background-color: $olive;
            }

            .filter {
                &.text {
                    filter: $f_olive;
                }
                &.background {
                    filter: $f_beige;
                }
            }
        }

        .stype {
            color: $beige;
            background-color: $black;

            .text_background {
                background-color: $beige;
            }

            .filter {
                &.text {
                    filter: $f_beige;
                }
                &.background {
                    filter: $f_black;
                }
            }
        }

        .categories {
            overflow: hidden;
            margin: auto 0 0 0;

            >* {
                padding-top: .5em;
            }

            >:first-child {
                background-color: unset !important;
            }

            >:last-child>div {
                padding-bottom: .5em;
            }
        }

        .category, .category.placeholder {
            overflow-y: scroll;
            z-index: 2; 

            div {
                border-top-left-radius: 2em;
                border-top-right-radius: 2em;

                &.details {
                    cursor: pointer;        
                    display: flex;
                    flex-direction: row;    
                    padding: .5em 0 0 1em;

                    -webkit-box-shadow: 0em -.1em .3em 0em rgba(19,17,18,0.6);
                    -moz-box-shadow:    0em -.1em .3em 0em rgba(19,17,18,0.6);
                    box-shadow:         0em -.1em .3em 0em rgba(19,17,18,0.6);    

                    transition: $def_trans;
                    text-decoration: none;

                    img {
                        padding-right: 1em;
                        height: 2em;

                        &.thumbnail {
                            display: unset;
                        }

                        &.back {
                            display: none;
                        }
                    }
                }

                .dishes {
                    display: none;
                }
            }
        }

        .loaded {
            z-index: 2; 
            //height: 0vh;
            width: 100vw;
            position: fixed; 
            bottom: 0; 
            left: 0;
            margin: 0;
            padding-top: 0em !important;

            -webkit-box-shadow: 0em -.1em .3em 0em rgba(19,17,18,0.6);
            -moz-box-shadow:    0em -.1em .3em 0em rgba(19,17,18,0.6);
            box-shadow:         0em -.1em .3em 0em rgba(19,17,18,0.6);    

            border-top-left-radius: 2em;
            border-top-right-radius: 2em;

            .details {
                margin-bottom: 1em;

                -webkit-box-shadow: none !important;
                -moz-box-shadow:    none !important;
                box-shadow:         none !important;
            }

            .dishes {
                display: unset;
            }

            img {
                &.thumbnail {
                    display: none !important;
                }

                &.back {
                    display: unset !important;
                }
            }
        }

        .dish {
            z-index: 3; 
            display: flex;
            flex-direction: column;
            margin: 0 auto 0 auto;
            padding: 0 1em 2em 1em;

            img {
                width: 100%;
                padding-bottom: .5em;
                border-radius: 2em;
            }

            .data {
                display: flex;
                flex-direction: row;

                .add {
                    margin: auto 0 auto auto;
                    height: 3em;
                    width: 3em;
                }
            }

            .expanded {
                display: none;
            }

        }

        .dish.placeholder {
            height: 0vh;
            width: 100vw;
            position: fixed; 
            bottom: 0; 
            left: 0;
            margin: 0;
            padding: 0;
            overflow-y: scroll;

            &.image {
                z-index: 4; 
                top: 0;
                bottom: auto;

                img {
                    height: 40vh;
                    border-radius: 0%;
                    object-fit: cover;
                }

                .back {
                    z-index: 5; 
                    position: absolute;
                    top: .5em;
                    left: .5em;
                    border-radius: 100%;
                    padding: .5em;
                    background-color: inherit;
                    height: 3em;
                    width: 3em;

                    img {
                        margin: auto;
                        height: 3em;
                        width: 3em;
                    }
                }
            }

            &.data {
                z-index: 5;
                border-top-left-radius: 2em;
                border-top-right-radius: 2em;

                .data, .expanded {
                    margin: 2em 1em 0 1em;
                } 

                .expanded {
                    display: unset;
                    margin: 1em 1em 0 1em;
                }
            }
        }
    }
}