header
    - var navs = [['dashboard', 'Dashboard', 'dashboard.png'], ['orders', 'Orders', 'list.png'], ['tables', 'Tables', 'qr.png'], ['menu', 'Menu', 'menu.png'], ['staff', 'Staff', 'staff.png'], ['settings', 'Settings', 'settings.png'], ['account', 'Account', 'account.png']]

    div(class="title")
        h1 el Cafe.

    div(class="separator bottom")

    div(class="user")
        img(src="{{ url_for( 'static', filename='img/users/' ) }}{{user.profile_picture}}")
        div(class="details")
            p {{user.firstname}} {{user.surname}}
            p(class="sub") {{user.username}}
        a(class="logout" href="{{ url_for('logout') }}")
            img(src="{{ url_for( 'static', filename='img/icons/logout.png' ) }}")

    nav(class="separator top bottom")
        each nav in navs
            if title|lower == nav[0]
                - var status = "selected"
            else
                - var status = ""

            a(href="{{nav[0]}}" class=status)
                img(src="{{ url_for( 'static', filename='img/icons/' ) }}{{nav[2]}}")
                {{nav[1]}}

    include includes/dashboard/footer.pug
